<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Hypernews</title>
</head>
<body>
<h2>Hyper news</h2>
{% for date in dates %}
<h4>{{date}}</h4>
<ul>
{% for item in data %}
{% if item.0 == date %}
<p><li><a target="_blank" href="/news/{{item.1}}/">{{item.2}}</a></li></p>
{% endif %}
{% endfor %}
</ul>
{% endfor %}
<a target="_blank" href="/news/create/">Create</a>

<form action="/news/" method="get">
        {% csrf_token %}
        <label for="q">Search terms</label><br>
        <input type="text" name="q" id="q"><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>